<div class="listing-item__author author">
    <div class="author__container">
        <div class="author__avatar">
            <img class="author__avatar-image" src="{{ authorImage }}" alt="{{ authorName }}">
        </div>
        <div class="author__info">
            <h3 class="author__name">{{ authorName }}</h3>
        </div>
    </div>
</div>
