.publications {
    $root: &;
    margin-bottom: ($grid * 2.5);

    &__container {
        @include aligner;
    }

    &__content {
        display: grid;
        width: 100%;
        grid-column-gap: $grid;
        grid-row-gap: ($grid * 1.5);
        grid-template-columns: 1fr 1fr;
    }

}
