<a href="#" class="load-more">
    <div class="load-more__container">
        <div class="load-more__label">Load more</div>
        <svg class="load-more__icon" width="24" height="24">
            <use xlink:href="#plus" />
        </svg>
    </div>
</a>
