.load-more {
    @include gutter(1, 0, 1.5, 0);
    $root: &;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-decoration: none;

    &__container {
        @include gutter(0.1, 0.25, 0.1, 0.25);
        @include font-size(xs);
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: 2px solid $color--primary;
        color: $color--primary;
    }

    &__label {
        font-weight: 500;
        transition: color $default-transition-speed cubic-bezier(0.65, 0.05, 0.36, 1) 0s;
    }

    &__icon {
        fill: currentColor;
    }

    &:hover {
        color: $color--secondary;

        #{$root}__label {
            color: $color--secondary;
        }

    }

}
