.search-toggle {
    @include gutter(0, 0.4, 0, 1);
    $root: &;

    &__container {
        position: relative;
        height: 24px;
        width: 24px;
    }

    &__icon {
        fill: $color--secondary;
        // sass-lint:disable indentation
        transition: fill $default-transition-speed ease 0s,
                    opacity $default-transition-speed ease 0s;
        // sass-lint:enddisable

    }

    &__icon-close {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        // sass-lint:disable indentation
        transition: fill $default-transition-speed ease 0s,
                    opacity $default-transition-speed ease 0s;
        // sass-lint:enddisable
    }

    &__link {
        display: block;
        opacity: 1;
        transition: opacity $default-transition-speed ease 0s;

        &.active,
        &:focus,
        &:hover {
            outline: 0;

            #{$root}__icon {
                fill: $color--primary;
            }

        }

        &.active {

            #{$root}__icon {
                opacity: 0;
            }

            #{$root}__icon-close {
                opacity: 1;
            }

        }

        .app-search & {
            opacity: 1;
        }

    }


}
