{% if progressBar %}
    {% include "@atoms/progress-bar/progress-bar.twig" %}
{% endif %}

<div class="header" {% if headerBg %}style="background-color: {{ headerBg }};"{% endif %}>

    <div class="header__container">

        <div class="header__content">

            <div class="header__home-link">
                {% include "@molecules/links/home-link/home-link.twig" %}
            </div>

            <div class="header__nav-container">

                <div class="header__navigation">
                    {% include "@organisms/navigation/primary-nav/primary-nav.twig" %}
                </div>

            </div>

        </div>

    </div>

</div>
