/*------------------------------------*\
    $App header
\*------------------------------------*/

.header {
    @include gutter(0, 0, 0, 0);
    $root: &;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: $color--off-white;
    border-bottom: 1px solid transparent;
    // sass-lint:disable indentation
    transition: border-color $default-transition-speed ease 0s;
    // sass-lint:enddisable

    &__container {
        @include aligner;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        top: ($grid / 4);

        @include media-query(tablet) {
            align-items: stretch;
        }

    }

    &__search-toggle {
        display: flex;
        align-items: center;
    }

    &__home-link {
        @include gutter(0.25, 0, 0.35, 0);

        @include media-query(tablet) {
            flex-basis: auto;
        }

        @include media-query(desktop) {
            display: flex;
            align-items: flex-end;
        }

    }

    &__nav-container {

        @include media-query(laptop) {
            display: flex;
            flex-direction: column;
            flex-basis: auto;
            justify-content: center;
        }

    }

    &__navigation {
        display: flex;
        align-items: center;
        height: 100%;

        @include media-query(laptop) {
            height: auto;
        }

    }

    // Template specific

    .headroom--not-top & {
        border-color: $color--border-light;

        #{$root}__container {
            padding-top: ($grid / 2);
            padding-bottom: ($grid / 2);

            @include media-query(tablet) {
                padding-bottom: ($grid / 2);
            }

            @include media-query(wide) {
                padding-bottom: ($grid / 2);
            }
        }

        #{$root}__home-link {
            @include gutter(0, 0, 0, 0, true);
        }

        #{$root}__nav-container {
            flex-direction: row;
            justify-content: flex-start;
        }

        #{$root}__navigation {
            @include gutter(0, 0, 0, 0.5);
        }

        #{$root}__audience-navigation {
            @include gutter(0, 0, 0, 0);
            margin-right: ($grid / 2);
            min-width: 24px; // Width of search icon for IE
        }

    }

    .template__multimedia & {
        background-color: $color--primary;
    }

    .template__search & {
        background-color: $color--black;
    }

    // Animations

    @keyframes fadein {

        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

}
