<input class="app-search__input form__input" type="search" placeholder="{{ searchPlaceholder }}"  value="{% if searchTerm %}{{ searchTerm }}{% endif %}">
<button aria-label="Search" class="app-search__button form__button btn btn--transparent">
    <svg class="app-search__icon" width="24" height="24">
        <use xlink:href="#search" />
    </svg>
</button>
