<div class="vertical-tab">
    <div class="vertical-tab__container">
        <div class="vertical-tab__content js-tabs">
            <div class="vertical-tab__options">
                <a class="vertical-tab__option-item tab-item tab-item--active" href="#facility-1" data-tab="facility-1">Who we are</a>
                <a class="vertical-tab__option-item tab-item" href="#facility-2" data-tab="facility-2">Our Partners</a>
            </div>
            <div class="vertical-tab__description">
                <div class="vertical-tab__description-item tabs__content tabs__content--current" id="facility-1" data-tab="facility-1">
                    <div class="facility">
                        <div class="facility__description">
                            <p>We are the Centre for International Governance Innovation: an independent, non-partisan think tank with an objective and uniquely global perspective.</p>
                            <a class="btn btn--primary" href="#">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="vertical-tab__description-item tabs__content tabs__content" id="facility-2" data-tab="facility-2">
                    <div class="facility">
                        <div class="facility__image-container">
                            <img class="facility__image" src="../../../images/facilities-image.jpg" alt="">
                        </div>
                        <div class="facility__description">
                            <p>The large cobalt 60 source, one of the largest in the United Kingdom, is used by government agencies, defence contractors, and the nuclear power industry to evaluate the performance of equipment</p>
                            <a class="btn btn--primary" href="#">Find out more</a>
                        </div>
                    </div>
                </div>
                <div class="vertical-tab__description-item tabs__content tabs__content" id="facility-3" data-tab="facility-3">
                    <div class="facility">
                        <div class="facility__image-container">
                            <img class="facility__image" src="../../../images/facilities-image.jpg" alt="">
                        </div>
                        <div class="facility__description">
                            <p>The large cobalt 60 source, one of the largest in the United Kingdom, is used by government agencies, defence contractors, and the nuclear power industry to evaluate the performance of equipment</p>
                            <a class="btn btn--primary" href="#">Find out more</a>
                        </div>
                    </div>
                </div>
                <div class="vertical-tab__description-item tabs__content tabs__content" id="facility-4" data-tab="facility-4">
                    <div class="facility">
                        <div class="facility__image-container">
                            <img class="facility__image" src="../../../images/facilities-image.jpg" alt="">
                        </div>
                        <div class="facility__description">
                            <p>The large cobalt 60 source, one of the largest in the United Kingdom, is used by government agencies, defence contractors, and the nuclear power industry to evaluate the performance of equipment</p>
                            <a class="btn btn--primary" href="#">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shard shard--bottom-left"></div>
</div>
