.expert-item {
    $root: &;

    &__container {
        display: block;
        position: relative;
        text-decoration: none;
        color: $color--default;

        &::after {
            content: '';
            background-color: $color--quaternary;
            opacity: 0;
            position: absolute;
            top: -21px;
            left: -21px;
            width: calc(100% + 42px);
            height: calc(100% + 42px);
            z-index: -1;
            transition: opacity $default-transition-speed ease 0s;
        }


        &:hover {

            &::after {
                background-color: $color--quaternary;
                opacity: 1;
            }

            #{$root}__name {
                color: $color--black;
            }

        }

    }

    &__bio {
        @include gutter(0, 0, 1, 0);
        display: flex;
        flex-direction: row;
    }

    &__avatar {
        flex-basis: 56px;
        min-width: 56px;
        max-width: 56px;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        overflow: hidden;
    }

    &__avatar-image {
        display: block;
        width: 56px;
        height: 56px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: ($grid * 0.75);
    }

    &__name {
        @include font-size(default);
        font-weight: 500;
        color: $color--primary;
        line-height: 1;
        margin-bottom: 5px;
        transition: color $default-transition-speed ease 0s;
    }

    &__title {
        @include font-size(default);
        line-height: 1;
        color: $color--black;
    }

    &__heading {
        @include font-size(xs);
        text-transform: uppercase;
        color: lighten($color--black, 40%);
        margin-bottom: ($grid / 4);
    }

    &__work-item-heading {
        @include font-size(default);
        margin-bottom: 5px;
        font-weight: 400;
        color: $color--black;
    }

    &__work-item-date {
        @include font-size(xxs);
        text-transform: uppercase;
        color: lighten($color--black, 40%);
    }

}
