<a class="primary-link" href="{{ href|default('#') }}">
    <span class="primary-link__label">
        {% autoescape false %}
        {{ title|raw|default('title') }}
        {% endautoescape %}
    </span>
    {% if dropdown %}
        {% include "@molecules/dropdown/dropdown.twig" %}
    {% endif %}
</a>
