.multimedia-item {
    $root: &;

    &--featured {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;

        #{$root}__container {
            display: grid;
            grid-gap: ($grid);
            grid-template-columns: 1fr 1fr 1fr;
        }

        #{$root}__image-container {
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;
        }

        #{$root}__content {
            border-top: 1px solid rgba($color--white, 0.8);
            grid-column: 3 / span 1;
            grid-row: 1 / span 1;
        }

        #{$root}__heading {
            @include font-size(l);
        }

        #{$root}__meta {
            @include gutter(0.25, 0, 0.25, 0);
        }

    }

    &__container {
        display: block;
        text-decoration: none;
        cursor: url('../images/cursor_play.png'), auto;
        // sass-lint:disable indentation
        transition: transform $default-transition-speed ease 0s;
        // sass-lint:enddisable

        &:hover {
            transform: translateY(-1px);

            #{$root}__image {
                mix-blend-mode: luminosity;
                opacity: 0.8;
            }

            #{$root}__heading {
                color: $color--white;
            }

            #{$root}__video-icon {
                opacity: 1;
            }

        }

    }

    &__image-container {
        position: relative;
        overflow: hidden;
        background-color: $color--white;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
        // sass-lint:disable indentation
        transition: opacity $default-transition-speed ease 0s,
                    mix-blend-mode $default-transition-speed ease 0s;
        // sass-lint:enddisable
    }

    &__video-icon {
        position: absolute;
        z-index: 2;
        bottom: ($grid / 2);
        left: ($grid / 2);
        fill: $color--white;
    }

    &__meta {
        @include gutter(0.25, 0, 0.15, 0);
        @include font-size(xxs);
        color: $color--white;
        opacity: 0.8;
        text-transform: uppercase;
    }

    &__heading {
        @include gutter(0, 0, 0.25, 0);
        @include font-size(default);
        line-height: 1.2;
        margin-bottom: 0;
        color: $color--white;
        // sass-lint:disable indentation
        transition: color $default-transition-speed ease 0s;
        // sass-lint:enddisable
    }

    &__description {
        line-height: 1.3;
        color: $color--white;
    }

}
