<div class="app-browse">
    <div class="app-browse__close js-browse-toggle">
        <svg class="app-browse__close-icon" width="24" height="24">
            <use xlink:href="#close" />
        </svg>
    </div>
    <div class="feed">
        <div class="feed__container">
            <div class="feed__header">
                <h2 class="feed__heading">
                    Browse
                    <a href="#" class="feed__dropdown">
                        <div class="feed__dropdown-label">Latest</div>
                        <svg class="feed__dropdown-icon" width="24" height="24">
                            <use xlink:href="#arrow-down" />
                        </svg>
                    </a>
                </h2>
                <div class="feed__sort-order sort-order">
                    <a href="#" class="sort-order__item">
                        <div class="sort-order__label">Image view</div>
                        <svg class="sort-order__icon" width="24" height="24">
                            <use xlink:href="#sort-image" />
                        </svg>
                    </a>
                    <a href="#" class="sort-order__item sort-order__item--active">
                        <div class="sort-order__label">List view</div>
                        <svg class="sort-order__icon" width="24" height="24">
                            <use xlink:href="#sort-list" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="feed__content" id="js-modal">
                <div class="feed-item">
                    <a class="feed-item__link" href="#">
                        <div class="feed-item__image-container">
                            <img class="feed-item__image" src="../../../images/news-item.jpg" alt="">
                        </div>
                        <div class="feed-item__text">
                            <p class="feed-item__meta">July 29, 2018</p>
                            <h3 class="feed-item__heading">The Brussels Summit Wasn't so bad</h3>
                            <p class="feed-item__description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.</p>
                        </div>
                    </a>
                </div>
                <div class="feed-item feed-item--video js-modal-item" data-src="https://www.youtube.com/watch?v=JB0vKVSnfzg">
                    <a class="feed-item__link js-modal-item" href="#" >
                        <div class="feed-item__image-container">
                            <svg class="feed-item__video-icon" width="48" height="48">
                                <use xlink:href="#video" />
                            </svg>
                            <img class="feed-item__image" src="../../../images/news-item2.jpg" alt="">
                        </div>
                        <div class="feed-item__text">
                            <p class="feed-item__meta">July 29, 2018</p>
                            <h3 class="feed-item__heading">The Brussels Summit Wasn't so bad</h3>
                            <p class="feed-item__description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.</p>
                        </div>
                    </a>
                </div>
                <div class="feed-item feed-item--video">
                    <a class="feed-item__link" href="#">
                        <div class="feed-item__image-container">
                            <svg class="feed-item__video-icon" width="48" height="48">
                                <use xlink:href="#video" />
                            </svg>
                            <img class="feed-item__image" src="../../../images/news-item3.jpg" alt="">
                        </div>
                        <div class="feed-item__text">
                            <p class="feed-item__meta">July 29, 2018</p>
                            <h3 class="feed-item__heading">The Brussels Summit Wasn't so bad</h3>
                            <p class="feed-item__description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.</p>
                        </div>
                    </a>
                </div>
                <div class="feed-item">
                    <a class="feed-item__link" href="#">
                        <div class="feed-item__image-container">
                            <img class="feed-item__image" src="../../../images/news-item2.jpg" alt="">
                        </div>
                        <div class="feed-item__text">
                            <p class="feed-item__meta">July 29, 2018</p>
                            <h3 class="feed-item__heading">The Brussels Summit Wasn't so bad</h3>
                            <p class="feed-item__description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.</p>
                        </div>
                    </a>
                </div>
                <div class="feed-item">
                    <a class="feed-item__link" href="#">
                        <div class="feed-item__image-container">
                            <img class="feed-item__image" src="../../../images/news-item.jpg" alt="">
                        </div>
                        <div class="feed-item__text">
                            <p class="feed-item__meta">July 29, 2018</p>
                            <h3 class="feed-item__heading">The Brussels Summit Wasn't so bad</h3>
                            <p class="feed-item__description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.</p>
                        </div>
                    </a>
                </div>
                <div class="feed-item">
                    <a class="feed-item__link" href="#">
                        <div class="feed-item__image-container">
                            <img class="feed-item__image" src="../../../images/news-item3.jpg" alt="">
                        </div>
                        <div class="feed-item__text">
                            <p class="feed-item__meta">July 29, 2018</p>
                            <h3 class="feed-item__heading">The Brussels Summit Wasn't so bad</h3>
                            <p class="feed-item__description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.</p>
                        </div>
                    </a>
                </div>
                <div class="feed-item">
                    <a class="feed-item__link" href="#">
                        <div class="feed-item__image-container">
                            <img class="feed-item__image" src="../../../images/news-item2.jpg" alt="">
                        </div>
                        <div class="feed-item__text">
                            <p class="feed-item__meta">July 29, 2018</p>
                            <h3 class="feed-item__heading">The Brussels Summit Wasn't so bad</h3>
                            <p class="feed-item__description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.</p>
                        </div>
                    </a>
                </div>
                <div class="feed-item feed-item--video">
                    <a class="feed-item__link" href="#">
                        <div class="feed-item__image-container">
                            <svg class="feed-item__video-icon" width="48" height="48">
                                <use xlink:href="#video" />
                            </svg>
                            <img class="feed-item__image" src="../../../images/news-item.jpg" alt="">
                        </div>
                        <div class="feed-item__text">
                            <p class="feed-item__meta">July 29, 2018</p>
                            <h3 class="feed-item__heading">The Brussels Summit Wasn't so bad</h3>
                            <p class="feed-item__description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.</p>
                        </div>
                    </a>
                </div>
                <div class="feed-item">
                    <a class="feed-item__link" href="#">
                        <div class="feed-item__image-container">
                            <img class="feed-item__image" src="../../../images/news-item2.jpg" alt="">
                        </div>
                        <div class="feed-item__text">
                            <p class="feed-item__meta">July 29, 2018</p>
                            <h3 class="feed-item__heading">The Brussels Summit Wasn't so bad</h3>
                            <p class="feed-item__description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.</p>
                        </div>
                    </a>
                </div>
                <div class="feed-item feed-item--video">
                    <a class="feed-item__link" href="#">
                        <div class="feed-item__image-container">
                            <svg class="feed-item__video-icon" width="48" height="48">
                                <use xlink:href="#video" />
                            </svg>
                            <img class="feed-item__image" src="../../../images/news-item.jpg" alt="">
                        </div>
                        <div class="feed-item__text">
                            <p class="feed-item__meta">July 29, 2018</p>
                            <h3 class="feed-item__heading">The Brussels Summit Wasn't so bad</h3>
                            <p class="feed-item__description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="feed__load-more">
                {% include "@atoms/load-more/load-more.twig" %}
            </div>
        </div>
    </div>
</div>
<div class="app-browse__overlay"></div>
