.introduction {
    $root: &;

    &__text {
        @include font-size(m);
        color: $color--primary;

        @include media-query(tablet) {
            @include font-size(l);
        }

    }

    a {
        color: $color--primary;

        &:hover {
            color: $color--black;
        }

    }

    // Template specifiec

    .page__primary-content & {

        #{$root}__container {
            @include gutter(0, 0, 0.75, 0);
        }

    }

}
