.introduction {
    $root: &;

    &__container {
        @include aligner;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;
    }

    &__text {
        @include gutter(2, 0, 0.5, 0);
        @include font-size(xl);
        color: $color--black;
        margin-bottom: 0;
        max-width: ($grid * 30);
        line-height: 1.4;
        transition: opacity $default-transition-speed ease 0.1s,
                    display $default-transition-speed ease 2s,
                    transform $default-transition-speed ease 0.1s;

        &.closed {
            transform: translate3d(0, -200%, 0);
            opacity: 0;
            display: none;
        }

    }

    &__image {
        @include gutter(0.5, 0, 0, 0);
        position: relative;
        height: 240px;
        width: auto;
    }

    &__dismiss {
        position: relative;
        top: 12px;
        left: 0;
        opacity: 0.3;
        cursor: pointer;
        fill: $color--secondary;
        transition: opacity $default-transition-speed ease 0.1s,
                    fill $default-transition-speed ease 0.1s;

        &:hover {
            fill: $color--primary;
            opacity: 1;
        }

    }

    a {
        font-weight: 500;
        color: $color--primary;
        transition: color $default-transition-speed ease 0s;

        &:hover {
            color: $color--black;
        }

    }

}
