.slideshow {
    $root: &;
    overflow: hidden;

    &__container {
        position: relative;
    }

    &__content {
        @include gutter(0, 1, 2, 1);
    }

    &__header {
        @include gutter(0, 1, 1, 1);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__heading {
        @include font-size(s);
        display: flex;
        align-items: center;
        font-weight: 700;
        text-transform: uppercase;
        color: $color--black;

        &::before {
            content: '';
            display: inline-block;
            background-color: $color--secondary;
            width: ($grid / 2);
            height: ($grid / 2);
            margin-right: ($grid / 2);
        }

    }

    &__arrow {
        position: absolute;
        top: 50%;
        margin-top: -50px;
        cursor: pointer;
        background-color: $color--white;
        transition: background-color $default-transition-speed cubic-bezier(0.65, 0.05, 0.36, 1) 0.1s;

        &:hover {
            background-color: $color--primary;

            #{$root}__arrow-icon {
                fill: $color--white;
            }

        }

        &:focus {
            outline: 0;
        }

        &--next {
            right: 0;
            width: 40px;
            height: 80px;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
        }

        &--prev {
            left: 0;
            width: 40px;
            height: 80px;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
        }

    }

    &__arrow-icon {
        position: relative;
        fill: $color--primary;
        width: ($grid);
        height: ($grid);
        transition: fill $default-transition-speed cubic-bezier(0.65, 0.05, 0.36, 1) 0.1s;

        #{$root}__arrow--prev & {
            left: -3px;
        }

        #{$root}__arrow--next & {
            right: -3px;
        }

    }

}
