.experts {
    margin-bottom: ($grid * 4);

    &__container {
        @include aligner;
    }

    &__header {
        margin-bottom: ($grid * 2);
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: ($grid * 1.5);
    }

}
