<div class="experts">
    <div class="experts__container">
        <div class="experts__header section-header">
            <h2 class="experts__heading section-header__heading">Featured Experts</h2>
            <div class="experts__actions section-header__actions">
                <a href="#">View all</a>
            </div>
        </div>
        <div class="experts__content">
            <div class="expert-item">
                <a href="#" class="expert-item__container">
                    <div class="expert-item__bio">
                        <div class="expert-item__avatar">
                            <img class="expert-item__avatar-image" src="../../../images/avatar_1.jpg" alt="Ronald Orol">
                        </div>
                        <div class="expert-item__info">
                            <h3 class="expert-item__name">Ronald Orol</h3>
                            <div class="expert-item__title">CIGI Senior Fellow</div>
                        </div>
                    </div>
                    <div class="expert-item__work">
                        <div class="export-item__work-header">
                            <h2 class="expert-item__heading">Recent Activity</h2>
                        </div>
                        <div class="expert-item__work-item">
                            <h3 class="expert-item__work-item-heading">Toward a G20 Framework for Artificial Intelligence in the Workplace</h3>
                            <div class="expert-item__work-item-date">September 4, 2018</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="expert-item">
                <a href="#" class="expert-item__container">
                    <div class="expert-item__bio">
                        <div class="expert-item__avatar">
                            <img class="expert-item__avatar-image" src="../../../images/avatar_2.jpg" alt="Ronald Orol">
                        </div>
                        <div class="expert-item__info">
                            <h3 class="expert-item__name">Jonathan Edwards</h3>
                            <div class="expert-item__title">CIGI Senior Fellow</div>
                        </div>
                    </div>
                    <div class="expert-item__work">
                        <div class="export-item__work-header">
                            <h2 class="expert-item__heading">Recent Activity</h2>
                        </div>
                        <div class="expert-item__work-item">
                            <h3 class="expert-item__work-item-heading">Toward a G20 Framework for Artificial Intelligence in the Workplace</h3>
                            <div class="expert-item__work-item-date">September 4, 2018</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="expert-item">
                <a href="#" class="expert-item__container">
                    <div class="expert-item__bio">
                        <div class="expert-item__avatar">
                            <img class="expert-item__avatar-image" src="../../../images/avatar_3.jpg" alt="Ronald Orol">
                        </div>
                        <div class="expert-item__info">
                            <h3 class="expert-item__name">Stella Smith</h3>
                            <div class="expert-item__title">CIGI Senior Fellow</div>
                        </div>
                    </div>
                    <div class="expert-item__work">
                        <div class="export-item__work-header">
                            <h2 class="expert-item__heading">Recent Activity</h2>
                        </div>
                        <div class="expert-item__work-item">
                            <h3 class="expert-item__work-item-heading">Toward a G20 Framework for Artificial Intelligence in the Workplace</h3>
                            <div class="expert-item__work-item-date">September 4, 2018</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="expert-item">
                <a href="#" class="expert-item__container">
                    <div class="expert-item__bio">
                        <div class="expert-item__avatar">
                            <img class="expert-item__avatar-image" src="../../../images/avatar_1.jpg" alt="Ronald Orol">
                        </div>
                        <div class="expert-item__info">
                            <h3 class="expert-item__name">Nicolas Lagrand</h3>
                            <div class="expert-item__title">CIGI Senior Fellow</div>
                        </div>
                    </div>
                    <div class="expert-item__work">
                        <div class="export-item__work-header">
                            <h2 class="expert-item__heading">Recent Activity</h2>
                        </div>
                        <div class="expert-item__work-item">
                            <h3 class="expert-item__work-item-heading">Toward a G20 Framework for Artificial Intelligence in the Workplace</h3>
                            <div class="expert-item__work-item-date">September 4, 2018</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
