<div class="experts">
    <div class="experts__container">
        <div class="experts__header">
            <h2 class="experts__heading">Experts</h2>
            <div class="experts__action">View all</div>
        </div>
        <div class="experts__content">
            <div class="experts-item experts-item--featured">
                <div class="experts-item__container">
                    <div class="experts-item__image-container">
                        <svg class="experts-item__video-icon" width="48" height="48">
                            <use xlink:href="#video" />
                        </svg>
                        <img class="experts-item__image" src="../../../images/experts-feature.jpg" alt="">
                    </div>
                    <div class="experts-item__content">
                        <div class="experts-item__meta">Summits & Institutions</div>
                        <h3 class="experts-item__heading">The G20 Fights Fire - But it won't prevent them</h3>
                    </div>
                </div>
            </div>
            <div class="experts-item">
                <div class="experts-item__container">
                    <div class="experts-item__image-container">
                        <svg class="experts-item__video-icon" width="48" height="48">
                            <use xlink:href="#video" />
                        </svg>
                        <img class="experts-item__image" src="../../../images/experts-feature.jpg" alt="">
                    </div>
                    <div class="experts-item__content">
                        <div class="experts-item__meta">Summits & Institutions</div>
                        <h3 class="experts-item__heading">The G20 Fights Fire - But it won't prevent them</h3>
                    </div>
                </div>
            </div>
            <div class="experts-item">
                <div class="experts-item__container">
                    <div class="experts-item__image-container">
                        <svg class="experts-item__video-icon" width="48" height="48">
                            <use xlink:href="#video" />
                        </svg>
                        <img class="experts-item__image" src="../../../images/experts-item.jpg" alt="">
                    </div>
                    <div class="experts-item__content">
                        <div class="experts-item__meta">Environment & Energy</div>
                        <h3 class="experts-item__heading">The G20 Fights Fire - But it won't prevent them</h3>
                    </div>
                </div>
            </div>
            <div class="experts-item">
                <div class="experts-item__container">
                    <div class="experts-item__image-container">
                        <svg class="experts-item__video-icon" width="48" height="48">
                            <use xlink:href="#video" />
                        </svg>
                        <img class="experts-item__image" src="../../../images/experts-item.jpg" alt="">
                    </div>
                    <div class="experts-item__content">
                        <div class="experts-item__meta">Environment & Energy</div>
                        <h3 class="experts-item__heading">The G20 Fights Fire - But it won't prevent them</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
