.feed {
    $root: &;

    &__container {
        @include gutter(2, 1, 2, 1);
    }

    &__header {
        @include gutter(0, 0, 0.75, 0);
        display: flex;
        flex-direction: column;
    }

    &__header-search {
        display: flex;
        flex-direction: row;
        margin-bottom: ($grid / 2);
    }

    &__header-filters {
        display: flex;
        flex-direction: row;
        margin-bottom: ($grid);
    }

    &__heading {
        @include font-size(default);
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        font-weight: 700;
        align-items: baseline;
        // border-top: 3px solid $color--secondary;
        margin-bottom: ($grid / 2);
    }

    &__dropdown {
        @include gutter(0, 0.2, 0, 0);
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
        color: $color--primary;
        text-decoration: none;
    }

    &__dropdown-label {
        color: $color--black;
    }

    &__dropdown-icon {
        fill: currentColor;
    }

    &__sort-order {
        display: none;
        flex-direction: row;
        align-items: center;
    }

}
