.primary-nav {
    display: flex;
    align-items: center;

    &__menu {
        display: none;
        transition: opacity $default-transition-speed ease 0.3s;

        @include media-query(laptop) {
            display: flex;
            opacity: 1;
        }

        .headroom--not-top & {
            opacity: 0;
        }

    }

    &__full-link {
        display: flex;
        align-items: center;
    }

}
