.primary-nav {
    display: flex;
    align-items: center;

    &__menu {
        display: none;

        @include media-query(laptop) {
            display: flex;
        }

        .headroom--not-top &,
        .template__data & {
            display: none;
        }

    }

    &__full-link {
        display: flex;
        align-items: center;

        .header--light & {
            border-color: $color--off-black;
        }

    }

}
