{% extends "@templates/__app.twig" %}

{% block app__page %}

    <div class="page__header">

        <div class="page-heading">
            <div class="page-heading__container">
                <h1 class="page-heading__heading">{{ title }}</h1>
            </div>
        </div>

    </div>

    <div class="page__content" id="content">

        {% if overviewNav %}
            {% include "@molecules/overview-bar/overview-bar.twig" with overviewNav %}
        {% endif %}

        {% if listing %}
            {% include "@organisms/listing/listing.twig" with listing %}
        {% endif %}

        <div class="carousel partners">
            <div class="carousel__container glide js-carousel">

                <div class="carousel__header">
                    <h2 class="carousel__heading">Latest series</h3>
                    <div class="carousel__controls glide__arrows" data-glide-el="controls">
                        <button aria-label="Previous" class="carousel__arrow carousel__arrow--prev glide__arrow glide__arrow--left" data-glide-dir="<">
                            <svg class="carousel__arrow-icon" width="24" height="24">
                                <use xlink:href="#arrow-left" />
                            </svg>
                        </button>
                        <button aria-label="Next" class="carousel__arrow carousel__arrow--next glide__arrow glide__arrow--right" data-glide-dir=">">
                            <svg class="carousel__arrow-icon" width="24" height="24">
                                <use xlink:href="#arrow-right" />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="carousel__content glide__track" data-glide-el="track">
                    <div class="carousel__slides glide__slides">

                        <div class="carousel__slide glide__slide">
                            <div class="carousel-item">
                                <a class="carousel-item__link" href="#">
                                    <div class="carousel-item__image-container">
                                        <img class="carousel-item__image" src="../../../images/partner_image.jpg" alt="" />
                                    </div>
                                    <h3 class="carousel-item__heading">Data governance in the digital age</h3>
                                    <div class="carousel-item__meta">
                                        <div class="carousel-item__date">
                                            <div class="carousel-item__date-label">A CIGI essay series</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="carousel__slide glide__slide">
                            <div class="carousel-item">
                                <a class="carousel-item__link" href="#">
                                    <div class="carousel-item__image-container">
                                        <img class="carousel-item__image" src="../../../images/partner_image4.jpg" alt="" />
                                    </div>
                                    <h3 class="carousel-item__heading">Reshaping trade through women's economic empowerment</h3>
                                    <div class="carousel-item__meta">
                                        <div class="carousel-item__date">
                                            <div class="carousel-item__date-label">A CIGI essay series</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="carousel__slide glide__slide">
                            <div class="carousel-item">
                                <a class="carousel-item__link" href="#">
                                    <div class="carousel-item__image-container">
                                        <img class="carousel-item__image" src="../../../images/partner_image.jpg" alt="" />
                                    </div>
                                    <h3 class="carousel-item__heading">Data governance in the digital age</h3>
                                    <div class="carousel-item__meta">
                                        <div class="carousel-item__date">
                                            <div class="carousel-item__date-label">A CIGI essay series</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="carousel__slide glide__slide">
                            <div class="carousel-item">
                                <a class="carousel-item__link" href="#">
                                    <div class="carousel-item__image-container">
                                        <img class="carousel-item__image" src="../../../images/partner_image3.jpg" alt="" />
                                    </div>
                                    <h3 class="carousel-item__heading">150 years of Canadian foreign policy</h3>
                                    <div class="carousel-item__meta">
                                        <div class="carousel-item__date">
                                            <div class="carousel-item__date-label">A CIGI essay series</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="carousel__bullets glide__bullets" data-glide-el="controls[nav]">
                    <button class="carousel__bullet glide__bullet" data-glide-dir="=0"></button>
                    <button class="carousel__bullet glide__bullet" data-glide-dir="=1"></button>
                    <button class="carousel__bullet glide__bullet" data-glide-dir="=2"></button>
                    <button class="carousel__bullet glide__bullet" data-glide-dir="=3"></button>
                </div>


            </div>
        </div> <!-- /carousel -->

    </div>

{% endblock %}
