<div class="partners">
    <div class="partners__container">
        <div class="partners__header">
            <h2 class="partners__heading">Our partners</h2>
        </div>
        <div class="partners__content">

            <div class="partner-item js-slide-in">
                <div class="partner-item__container">
                    <a href="#" class="partner-item__meta">
                        <div class="partner-item__meta-label">
                            Institute for New Economic Thinking
                        </div>
                        <svg class="partner-item__link-icon" width="12" height="12">
                            <use xlink:href="#external" />
                        </svg>
                    </a>
                    <div class="partner-item__image-container">
                        <img class="partner-item__image" src="../../../images/partner_image.jpg" alt="">
                    </div>
                    <div class="partner-item__content">
                        <div class="partner-item__meta">
                            Partner content
                        </div>
                        <div class="partner-item__header">
                            <h3 class="partner-item__heading">What Money Can't Buy</h3>
                        </div>
                        <p class="partner-item__intro">
                            In six original episodes over six weeks, the Institute for New Economic Thinking explores what kind of society we truly are, and begins to define what kind of society we hope to be.
                        </p>
                    </div>
                </div>
            </div>

            <div class="partner-item js-slide-in">
                <div class="partner-item__container">
                    <a href="#" class="partner-item__meta">
                        <div class="partner-item__meta-label">
                            Africa portal
                        </div>
                        <svg class="partner-item__link-icon" width="12" height="12">
                            <use xlink:href="#external" />
                        </svg>
                    </a>
                    <div class="partner-item__image-container">
                        <img class="partner-item__image" src="../../../images/partner_image2.png" alt="">
                    </div>
                    <div class="partner-item__content">
                        <div class="partner-item__meta">
                            Partner content
                        </div>
                        <div class="partner-item__header">
                            <h3 class="partner-item__heading">The Africa Portal</h3>
                        </div>
                        <p class="partner-item__intro">
                            The Africa Portal is a research repository and an expert analysis hub on African affairs.
                        </p>
                    </div>
                </div>
            </div>

            <div class="partner-item js-slide-in">
                <div class="partner-item__container">
                    <a href="#" class="partner-item__meta">
                        <div class="partner-item__meta-label">
                            Balsillie School of International Affairs
                        </div>
                        <svg class="partner-item__link-icon" width="12" height="12">
                            <use xlink:href="#external" />
                        </svg>
                    </a>
                    <div class="partner-item__image-container">
                        <img class="partner-item__image" src="../../../images/partner_image4.jpg" alt="">
                    </div>
                    <div class="partner-item__content">
                        <div class="partner-item__meta">
                            Partner content
                        </div>
                        <div class="partner-item__header">
                            <h3 class="partner-item__heading">Balsillie School of International Affairs</h3>
                        </div>
                        <p class="partner-item__intro">
                            The Balsillie School of International Affairs (BSIA) is an institute for advanced research, education, and outreach in the fields of global governance and international public policy.
                        </p>
                    </div>
                </div>
            </div>

            <div class="partner-item js-slide-in">
                <div class="partner-item__container">
                    <a href="#" class="partner-item__meta">
                        <div class="partner-item__meta-label">
                            Open Canada
                        </div>
                        <svg class="partner-item__link-icon" width="12" height="12">
                            <use xlink:href="#external" />
                        </svg>
                    </a>
                    <div class="partner-item__image-container">
                        <img class="partner-item__image" src="../../../images/partner_image3.jpg" alt="">
                    </div>
                    <div class="partner-item__content">
                        <div class="partner-item__meta">
                            Partner content
                        </div>
                        <div class="partner-item__header">
                            <h3 class="partner-item__heading">150 years of Canadian Foreign Policy</h3>
                        </div>
                        <p class="partner-item__intro">
                            On July 1, Canada celebrates 150 years of nationhood. How has Canada's foreign policy changed over time?
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
