<div class="listing-header">

    <div class="listing-header__container">

        <h2 class="listing-header__heading">
            {{ title }}
        </h2>

        <div class="listing-header__actions">
            {{ actions|raw }}
        </div>

    </div>

</div>
