<div class="featured-topics">
    <div class="featured-topics__header">
        <h2 class="featured-topics__heading">Trending topics</h2>
    </div>
    <div class="featured-topics__container">
        <div class="featured-topics__item">
            <a href="#" class="featured-topics__item-header">
                <h2 class="featured-topics__item-heading">Summits & Institutions</h2>
                <img src="../../../images/topic_summit.jpg" class="featured-topics__item-image" alt="">
            </a>
            <div class="featured-topics__item-content">
                <div class="featured-topic-item featured-topic-item--featured">
                    <a class="featured-topic-item__link" href="#">
                        <div class="featured-topic-item__content">
                            <h3 class="featured-topic-item__heading">Possible Auto Tariffs Could Reshape NAFTA Talks</h3>
                            <p class="featured-topic-item__meta">24 July, 2018</p>
                        </div>
                    </a>
                </div>
                <div class="featured-topic-item">
                    <a class="featured-topic-item__link" href="#">
                        <div class="featured-topic-item__content">
                            <h3 class="featured-topic-item__heading">Canadian Media Has Outgrown Its Policy</h3>
                            <p class="featured-topic-item__meta">21 July, 2018</p>
                        </div>
                    </a>
                </div>
                <div class="featured-topic-item">
                    <a class="featured-topic-item__link" href="#">
                        <div class="featured-topic-item__content">
                            <h3 class="featured-topic-item__heading">SSHRC-CIGI Post-Doctoral Fellowship Competition</h3>
                            <p class="featured-topic-item__meta">18 July, 2018</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="featured-topics__item">
            <a href="#" class="featured-topics__item-header">
                <h2 class="featured-topics__item-heading">Environment & Energy</h2>
                <img src="../../../images/topic_environment.jpg" class="featured-topics__item-image" alt="">
            </a>
            <div class="featured-topics__item-content">
                <div class="featured-topic-item featured-topic-item--featured">
                    <a class="featured-topic-item__link" href="#">
                        <div class="featured-topic-item__content">
                            <h3 class="featured-topic-item__heading">The G20 fights fire - But it won't prevent them</h3>
                            <p class="featured-topic-item__meta">24 July, 2018</p>
                        </div>
                    </a>
                </div>
                <div class="featured-topic-item">
                    <a class="featured-topic-item__link" href="#">
                        <div class="featured-topic-item__content">
                            <h3 class="featured-topic-item__heading">Trump is threatening the rule of law - What's at stake?</h3>
                            <p class="featured-topic-item__meta">21 July, 2018</p>
                        </div>
                    </a>
                </div>
                <div class="featured-topic-item">
                    <a class="featured-topic-item__link" href="#">
                        <div class="featured-topic-item__content">
                            <h3 class="featured-topic-item__heading">In an evolving economy, the G7 must evolve too</h3>
                            <p class="featured-topic-item__meta">18 July, 2018</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
