{% extends "@templates/__app.twig" %}

{% block app__page %}

    <div class="page__header">

        <div class="introduction">
            <div class="introduction__container">
                <p class="introduction__text">An independent, non-partisan think tank with an objective and uniquely global perspective&hellip; <a href="#">more about us</a></p>
                <!-- <img class="introduction__image" alt="" src="../../../images/intro_image.jpg"> -->
            </div>
        </div>

        {% if newsFeed %}
        {% include "@organisms/latest/latest.twig" with newsFeed %}
        {% endif %}

        <div class="featured-topics">
            <div class="featured-topics__header">
                <h2 class="featured-topics__heading">Trending topics</h2>
            </div>
            <div class="featured-topics__container">
                <div class="featured-topics__item">
                    <a href="#" class="featured-topics__item-header">
                        <h2 class="featured-topics__item-heading">Summits & Institutions</h2>
                        <img src="../../../images/topic_summit.jpg" class="featured-topics__item-image" alt="">
                    </a>
                    <div class="featured-topics__item-content">
                        <div class="featured-topic-item featured-topic-item--featured">
                            <a class="featured-topic-item__link" href="#">
                                <div class="featured-topic-item__content">
                                    <h3 class="featured-topic-item__heading">The G20 fights fire - But it won't prevent them</h3>
                                    <p class="featured-topic-item__meta">24 July, 2018</p>
                                </div>
                            </a>
                        </div>
                        <div class="featured-topic-item">
                            <a class="featured-topic-item__link" href="#">
                                <div class="featured-topic-item__content">
                                    <h3 class="featured-topic-item__heading">Trump is threatening the rule of law - What's at stake?</h3>
                                    <p class="featured-topic-item__meta">21 July, 2018</p>
                                </div>
                            </a>
                        </div>
                        <div class="featured-topic-item">
                            <a class="featured-topic-item__link" href="#">
                                <div class="featured-topic-item__content">
                                    <h3 class="featured-topic-item__heading">In an evolving economy, the G7 must evolve too</h3>
                                    <p class="featured-topic-item__meta">18 July, 2018</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="featured-topics__item">
                    <a href="#" class="featured-topics__item-header">
                        <h2 class="featured-topics__item-heading">Environment & Energy</h2>
                        <img src="../../../images/topic_environment.jpg" class="featured-topics__item-image" alt="">
                    </a>
                    <div class="featured-topics__item-content">
                        <div class="featured-topic-item featured-topic-item--featured">
                            <a class="featured-topic-item__link" href="#">
                                <div class="featured-topic-item__content">
                                    <h3 class="featured-topic-item__heading">The G20 fights fire - But it won't prevent them</h3>
                                    <p class="featured-topic-item__meta">24 July, 2018</p>
                                </div>
                            </a>
                        </div>
                        <div class="featured-topic-item">
                            <a class="featured-topic-item__link" href="#">
                                <div class="featured-topic-item__content">
                                    <h3 class="featured-topic-item__heading">Trump is threatening the rule of law - What's at stake?</h3>
                                    <p class="featured-topic-item__meta">21 July, 2018</p>
                                </div>
                            </a>
                        </div>
                        <div class="featured-topic-item">
                            <a class="featured-topic-item__link" href="#">
                                <div class="featured-topic-item__content">
                                    <h3 class="featured-topic-item__heading">In an evolving economy, the G7 must evolve too</h3>
                                    <p class="featured-topic-item__meta">18 July, 2018</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="page__content" id="content">

        {% include "@molecules/newsletter/newsletter.twig" %}

        {% include "@molecules/multimedia/multimedia.twig" %}

        {% if events %}
        {% include "@molecules/carousel/carousel.twig" with events %}
        {% endif %}


        <div class="carousel">
            <div class="carousel__container glide js-carousel">

                <div class="carousel__header">
                    <h2 class="carousel__heading">Partners</h3>
                    <div class="carousel__controls glide__arrows" data-glide-el="controls">
                        <button aria-label="Previous" class="carousel__arrow carousel__arrow--prev glide__arrow glide__arrow--left" data-glide-dir="<">
                            <svg class="carousel__arrow-icon" width="24" height="24">
                                <use xlink:href="#arrow-left" />
                            </svg>
                        </button>
                        <button aria-label="Next" class="carousel__arrow carousel__arrow--next glide__arrow glide__arrow--right" data-glide-dir=">">
                            <svg class="carousel__arrow-icon" width="24" height="24">
                                <use xlink:href="#arrow-right" />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="carousel__content glide__track" data-glide-el="track">
                    <div class="carousel__slides glide__slides">
                        <div class="carousel__slide glide__slide">
                            <div class="carousel-item">
                                <a class="carousel-item__link" href="#">
                                    <img class="carousel-item__image" src="../../../images/partner_image.jpg" alt="" />
                                    <h3 class="carousel-item__heading">Institute for new economic thinking</h3>
                                    <div class="carousel-item__meta">
                                        <div class="carousel-item__date">
                                            <div class="carousel-item__date-label">Partner Content</div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="carousel__slide glide__slide">
                            <div class="carousel-item">
                                <a class="carousel-item__link" href="#">
                                    <img class="carousel-item__image" src="../../../images/partner_image4.jpg" alt="" />
                                    <h3 class="carousel-item__heading">The Africa Portal</h3>
                                    <div class="carousel-item__meta">
                                        <div class="carousel-item__date">
                                            <div class="carousel-item__date-label">Partner Content</div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="carousel__slide glide__slide">
                            <div class="carousel-item">
                                <a class="carousel-item__link" href="#">
                                    <img class="carousel-item__image" src="../../../images/partner_image2.png" alt="" />
                                    <h3 class="carousel-item__heading">Balsillie School of International Affairs</h3>
                                    <div class="carousel-item__meta">
                                        <div class="carousel-item__date">
                                            <div class="carousel-item__date-label">Partner Content</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="carousel__slide glide__slide">
                            <div class="carousel-item">
                                <a class="carousel-item__link" href="#">
                                    <img class="carousel-item__image" src="../../../images/partner_image3.jpg" alt="" />
                                    <h3 class="carousel-item__heading">Open Canada</h3>
                                    <div class="carousel-item__meta">
                                        <div class="carousel-item__date">
                                            <div class="carousel-item__date-label">Partner Content</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- /carousel -->

    </div>

{% endblock %}
