{% extends "@templates/__app.twig" %}

{% block app__page %}

    <div class="page__header">

        {% if newsFeed %}
        {% include "@organisms/latest/latest.twig" with newsFeed %}
        {% endif %}

        <div class="publications">
            <div class="publications__container">
                <div class="publications__header section-header">
                    <h2 class="publications__heading section-header__heading">Publications</h2>
                    <div class="publications__actions section-header__actions"><a href="#">View all</a></div>
            </div>
                <div class="publications__content">

                    <div class="publication-item">
                        <a href="#" class="publication-item__container">
                            <div class="publication-item__image-container">
                                <img class="publication-item__image" src="../../../images/pub_1.2.jpg" alt="">
                            </div>
                            <div class="publication-item__text-container">
                                <div class="publication-item__type">Paper</div>
                                <h3 class="publication-item__heading">Governance Innovation for a Connected World: Protecting Free Expression, Diversity and Civic Engagement in the Global Digital Ecosystem</h3>
                                <div class="publication-item__meta">
                                    <div class="publication-item__meta-item">
                                        31 July 2018
                                    </div>
                                    <div class="publication-item__meta-item">
                                        Alex He
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="publication-item">
                        <a href="#" class="publication-item__container">
                            <div class="publication-item__image-container">
                                <img class="publication-item__image" src="../../../images/pub_2.2.jpg" alt="">
                            </div>
                            <div class="publication-item__text-container">
                                <div class="publication-item__type">Conference Report</div>
                                <h3 class="publication-item__heading">The Emerging Model of Economic Policy Making under Xi Jinping: Literature Review, Theoretical Frameworks and Methodologies</h3>
                                <div class="publication-item__meta">
                                    <div class="publication-item__meta-item">
                                        31 July 2018
                                    </div>
                                    <div class="publication-item__meta-item">
                                        Alex He
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="publication-item">
                        <a href="#" class="publication-item__container">
                            <div class="publication-item__image-container">
                                <img class="publication-item__image" src="../../../images/pub_3.2.jpg" alt="">
                            </div>
                            <div class="publication-item__text-container">
                                <div class="publication-item__type">Policy Brief</div>
                                <h3 class="publication-item__heading">Energizing Regional Collaboration and Governance: CIGI Summit of North American Arctic Leaders</h3>
                                <div class="publication-item__meta">
                                    <div class="publication-item__meta-item">
                                        31 July 2018
                                    </div>
                                    <div class="publication-item__meta-item">
                                        John Higginbotham & Jennifer Spence
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="publication-item">
                        <a href="#" class="publication-item__container">
                            <div class="publication-item__image-container">
                                <img class="publication-item__image" src="../../../images/pub_1.2.jpg" alt="">
                            </div>
                            <div class="publication-item__text-container">
                                <div class="publication-item__type">Paper</div>
                                <h3 class="publication-item__heading">Governance Innovation for a Connected World: Protecting Free Expression, Diversity and Civic Engagement in the Global Digital Ecosystem</h3>
                                <div class="publication-item__meta">
                                    <div class="publication-item__meta-item">
                                        31 July 2018
                                    </div>
                                    <div class="publication-item__meta-item">
                                        Alex He
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>
            </div>
        </div>

    {% include "@molecules/multimedia/multimedia.twig" %}

    <div class="page__content" id="content">

        {% include "@molecules/events-feed/events-feed.twig" with events %}

        {% include "@molecules/experts/experts.twig" %}

        <div class="carousel partners">
            <div class="carousel__container glide js-carousel">

                <div class="carousel__header section-header">
                    <h2 class="carousel__heading section-header__heading">From our Partners</h3>
                    <div class="section-header__actions">
                        <div class="carousel__bullets glide__bullets" data-glide-el="controls[nav]">
                            <button class="carousel__bullet glide__bullet" data-glide-dir="=0"></button>
                            <button class="carousel__bullet glide__bullet" data-glide-dir="=1"></button>
                            <button class="carousel__bullet glide__bullet" data-glide-dir="=2"></button>
                            <button class="carousel__bullet glide__bullet" data-glide-dir="=3"></button>
                        </div>
                    </div>
                </div>

                <div class="carousel__controls glide__arrows" data-glide-el="controls">
                    <button aria-label="Previous" class="carousel__arrow carousel__arrow--prev glide__arrow glide__arrow--left" data-glide-dir="<">
                        <svg class="carousel__arrow-icon" width="42" height="42">
                            <use xlink:href="#arrow-left" />
                        </svg>
                    </button>
                    <button aria-label="Next" class="carousel__arrow carousel__arrow--next glide__arrow glide__arrow--right" data-glide-dir=">">
                        <svg class="carousel__arrow-icon" width="42" height="42">
                            <use xlink:href="#arrow-right" />
                        </svg>
                    </button>
                </div>

                <div class="carousel__content glide__track" data-glide-el="track">
                    <div class="carousel__slides glide__slides">

                        <div class="carousel__slide glide__slide">
                            <div class="carousel-item">
                                <a class="carousel-item__link" href="#">
                                    <div class="carousel-item__image-container">
                                        <div class="carousel-item__logo">
                                            <img src="../../../images/logo_africa-portal.png" alt="" />
                                        </div>
                                        <img class="carousel-item__image" src="../../../images/partner_image_new1.jpg" alt="" />
                                    </div>
                                    <h3 class="carousel-item__heading">The <span>Africa Portal</span> is a research repository and an expert analysis hub on Africal affairs.</h3>
                                </a>
                            </div>
                        </div>

                        <div class="carousel__slide glide__slide">
                            <div class="carousel-item">
                                <a class="carousel-item__link" href="#">
                                    <div class="carousel-item__image-container">
                                        <div class="carousel-item__logo">
                                            <img src="../../../images/logo_open-canada.png" alt="" />
                                        </div>
                                        <img class="carousel-item__image" src="../../../images/partner_image_new2.jpg" alt="" />
                                    </div>
                                    <h3 class="carousel-item__heading"><span>OpenCanada</span> is a digital publication sitting at the intersection of public policy, scholarship and journalism.</h3>
                                </a>
                            </div>
                        </div>

                        <div class="carousel__slide glide__slide">
                            <div class="carousel-item">
                                <a class="carousel-item__link" href="#">
                                    <div class="carousel-item__image-container">
                                        <div class="carousel-item__logo">
                                            <img src="../../../images/logo_africa-portal.png" alt="" />
                                        </div>
                                        <img class="carousel-item__image" src="../../../images/partner_image_new1.jpg" alt="" />
                                    </div>
                                    <h3 class="carousel-item__heading">The <span>Africa Portal</span> is a research repository and an expert analysis hub on Africal affairs.</h3>
                                </a>
                            </div>
                        </div>

                        <div class="carousel__slide glide__slide">
                            <div class="carousel-item">
                                <a class="carousel-item__link" href="#">
                                    <div class="carousel-item__image-container">
                                        <div class="carousel-item__logo">
                                            <img src="../../../images/logo_open-canada.png" alt="" />
                                        </div>
                                        <img class="carousel-item__image" src="../../../images/partner_image_new1.jpg" alt="" />
                                    </div>
                                    <h3 class="carousel-item__heading"><span>OpenCanada</span> is a digital publication sitting at the intersection of public policy, scholarship and journalism.</h3>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>




            </div>
        </div> <!-- /carousel -->

    </div>

{% endblock %}
