<div class="multimedia">
    <div class="multimedia__container">
        <div class="multimedia__header">
            <h2 class="multimedia__heading">Multimedia</h2>
            <div class="multimedia__action">View all</div>
        </div>
        <div class="multimedia__content">
            <div class="multimedia-item multimedia-item--featured">
                <div class="multimedia-item__container">
                    <div class="multimedia-item__image-container">
                        <svg class="multimedia-item__video-icon" width="48" height="48">
                            <use xlink:href="#video" />
                        </svg>
                        <img class="multimedia-item__image" src="../../../images/multimedia-feature.jpg" alt="">
                    </div>
                    <div class="multimedia-item__content">
                        <div class="multimedia-item__meta">Summits & Institutions</div>
                        <h3 class="multimedia-item__heading">The G20 Fights Fire - But it won't prevent them</h3>
                        <p class="multimedia-item__description">When it comes to trade, the G20 has signalled that it has nothing to offer </p>
                    </div>
                </div>
            </div>
            <div class="multimedia-item">
                <div class="multimedia-item__container">
                    <div class="multimedia-item__image-container">
                        <svg class="multimedia-item__video-icon" width="48" height="48">
                            <use xlink:href="#video" />
                        </svg>
                        <img class="multimedia-item__image" src="../../../images/multimedia-feature.jpg" alt="">
                    </div>
                    <div class="multimedia-item__content">
                        <div class="multimedia-item__meta">Summits & Institutions</div>
                        <h3 class="multimedia-item__heading">The G20 Fights Fire - But it won't prevent them</h3>
                    </div>
                </div>
            </div>
            <div class="multimedia-item">
                <div class="multimedia-item__container">
                    <div class="multimedia-item__image-container">
                        <svg class="multimedia-item__video-icon" width="48" height="48">
                            <use xlink:href="#video" />
                        </svg>
                        <img class="multimedia-item__image" src="../../../images/multimedia-item.jpg" alt="">
                    </div>
                    <div class="multimedia-item__content">
                        <div class="multimedia-item__meta">Environment & Energy</div>
                        <h3 class="multimedia-item__heading">The G20 Fights Fire - But it won't prevent them</h3>
                    </div>
                </div>
            </div>
            <div class="multimedia-item">
                <div class="multimedia-item__container">
                    <div class="multimedia-item__image-container">
                        <svg class="multimedia-item__video-icon" width="48" height="48">
                            <use xlink:href="#video" />
                        </svg>
                        <img class="multimedia-item__image" src="../../../images/multimedia-item.jpg" alt="">
                    </div>
                    <div class="multimedia-item__content">
                        <div class="multimedia-item__meta">Environment & Energy</div>
                        <h3 class="multimedia-item__heading">The G20 Fights Fire - But it won't prevent them</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
