<div class="newsletter">
    <div class="newsletter__container">
        <div class="newsletter__intro">
            <p>Get regular updates on our research and events in your inbox.</p>
        </div>
        <form class="newsletter__form">
            <input class="newsletter__input" type="email" placeholder="Your email">
            <button class="newsletter__button">
                <svg class="newsletter__button-icon" width="24" height="24">
                    <use xlink:href="#mail" />
                </svg>
            </button>
        </form>
    </div>
</div>
