.newsletter {
    $root: &;

    &__intro {


        p {
            margin-bottom: 0;
        }

    }

    &__form {
        position: relative;
        display: flex;
        align-items: flex-end;
    }

    &__input {
        @include gutter(0.25, 0.25, 0.25, 0);
        background-color: transparent;
        width: 100%;
        border: 0;
        border-bottom: 2px solid $color--primary;
        transition: border-color $default-transition-speed ease 0s;
    }

    &__button {
        position: absolute;
        right: 0;
        bottom: ($grid / 4);
        cursor: pointer;
        color: $color--primary;
    }

    &__button-icon {
        fill: currentColor;
    }



    .page__content & {
        @include gutter(1.5, 0, 2, 0);
        background-color: $color--white;

        &--no-bg {
            @include aligner;
            background-color: transparent;
            border-top: 2px solid $color--border;
            border-bottom: 1px solid $color--border;
            margin-bottom: ($grid * 2);

            #{$root}__intro {
                color: $color--black !important;
            }

        }

        #{$root}__container {
            @include aligner;
            display: grid;
            grid-template-columns: 0.5fr 0.5fr;
            grid-gap: ($grid * 2);
        }

        #{$root}__intro {
            @include font-size(l);
            font-weight: 400;
            color: $color--default;
            line-height: 1.2;
        }

        #{$root}__input {
            color: $color--black;

            &:focus {
                outline: 0;
                border-bottom: 2px solid $color--black;
            }

        }

        #{$root}__button {

            &:hover {
                color: $color--secondary;
            }

        }

    }

    .footer & {
        @include gutter(0, 0, 1, 0);

        #{$root}__intro {
            @include font-size(default);
        }

        #{$root}__button {

            &:hover {
                color: $color--white;
            }

        }

        #{$root}__input {
            color: $color--white;

            &:focus {
                outline: 0;
                border-bottom: 2px solid $color--white;
            }

        }

    }

}
