.events-feed {
    @include gutter(0, 0, 2, 0);
    @include aligner;
    $root: &;

    &__header {
        @include gutter(0, 0, 0.5, 0);
    }

    &__heading {
        @include font-size(l);
        @include gutter(0.25, 0, 0.5, 0);
        display: inline-block;
        border-top: 3px solid $color--secondary;
        margin-bottom: 0;
    }

    &__content {
        display: grid;
        grid-column-gap: ($grid);
        grid-row-gap: ($grid * 1.5);
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}
