.events-feed {
    @include gutter(0, 0, 2, 0);
    @include aligner;
    $root: &;

    &__content {
        display: grid;
        grid-column-gap: ($grid);
        grid-row-gap: ($grid);
        grid-template-columns: 1fr 1fr;
    }

}
