.event-item {
    $root: &;

    &:nth-child(2) {

        #{$root}__short-date {
            border-color: $color--border;
        }

        #{$root}__short-date-day {
            color: darken($color--grey-dark, 10%);
        }

    }

    &--featured {
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;

        #{$root}__link {
            @include gutter(0, 1, 1, 0);
            flex-direction: column;
            border-right: 1px solid $color--border;

            &:hover {
                background-color: transparent;
            }

        }

        #{$root}__image-container {
            margin-bottom: ($grid);
        }

        #{$root}__heading {
            @include font-size(l);
            @include gutter(0, 0, 0.25, 0);
        }

        #{$root}__content {
            padding-left: 0;
        }

    }

    &--past {

        #{$root}__link {
            background-color: rgba($color--white, 0.5);
        }

    }

    &__link {
        @include gutter(0, 0.75, 0, 0.75);
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        text-decoration: none;
        height: 100%;
        transition: background-color $default-transition-speed cubic-bezier(0.65, 0.05, 0.36, 1) 0.1s,
                    border-color $default-transition-speed cubic-bezier(0.65, 0.05, 0.36, 1) 0s,
                    transform $default-transition-speed cubic-bezier(0.65, 0.05, 0.36, 1) 0s;

        &:hover {
            background-color: $color--quaternary;

            #{$root}__heading {
                color: $color--primary;
            }

            #{$root}__image {
                mix-blend-mode: luminosity;
                opacity: 0.8;
            }

        }

    }

    &__type {
        @include font-size(xxs);
        color: $color--primary;
        text-transform: uppercase;
        margin-bottom: ($grid / 4);
    }

    &__short-date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid $color--primary;
        width: 66px;
        height: 66px;
        flex-basis: 66px;
        max-width: 66px;
        min-width: 66px;
        overflow: hidden;
        text-align: center;
    }

    &__short-date-day {
        @include font-size(l);
        color: $color--primary;
        line-height: 1;
    }

    &__short-date-month {
        @include font-size(default);
        color: darken($color--grey-dark, 10%);
        line-height: 1;
    }

    &__content {
        padding-left: ($grid);
    }

    &__label {
        @include gutter(0, 0, 0.1, 0);
        @include font-size(xxs);
        color: $color--primary;
        text-transform: uppercase;
    }

    &__heading {
        @include font-size(s);
        @include gutter(0, 0, 0.2, 0);
        color: $color--black;
        margin-bottom: 0;
        transition: color $default-transition-speed cubic-bezier(0.65, 0.05, 0.36, 1) 0.1s;

    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
        opacity: 1;
        transition: opacity $default-transition-speed cubic-bezier(0.65, 0.05, 0.36, 1) 0.1s;
    }

    &__image-container {
        background-color: $color--image-hover;
    }

    &__meta {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__date,
    &__location {
        @include gutter(0, 0.25, 0, 0);
        @include font-size(xs);
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $color--default;
    }

    &__date-label {
        text-transform: uppercase;
    }

    .partners & {

        #{$root}__link {
            @include gutter(0, 0, 0, 0, true);
        }

        #{$root}__heading {
            @include gutter(0.5, 0.5, 0, 0.5);
        }

        #{$root}__meta {
            @include gutter(0, 0.5, 0.5, 0.5);
        }

        #{$root}__date-label {
            @include gutter(0, 0.15, 0, 0, true);
        }

        #{$root}__date-icon {
            fill: $color--primary;
        }

    }

}
