<div class="filter-item {% if modifier %}filter-item--{{ modifier }}{% endif %}">
    <div class="filter-item__header js-show-menu">
        <h2 class="filter-item__heading">{{ title }}</h2>
        <svg class="filter-item__icon" width="28px" height="28px">
            <use xlink:href="#arrow-down"></use>
        </svg>
    </div>
    <div class="filter-item__options">
        <div class="filter-item__options-container button-group">
            {% for filterOption in nested %}
                {% include "@atoms/filter-option/filter-option.twig" with filterOption %}
            {% endfor %}
        </div>
    </div>
</div>
