<nav class="primary-nav">
    <div class="primary-nav__menu">
        {% for item in audienceNavigation %}
        <div class="primary-nav__menu__item">
            {% include "@molecules/links/primary-link/primary-link.twig" with item %}
        </div>
        {% endfor %}
    </div>
</nav>
