<div class="scroll-down">
    <a aria-label="Skip to Content" href="#content" class="scroll-down__container js-slowscroll-fixed">
        <svg class="scroll-down__icon" width="24" height="24">
            <use xlink:href="#arrow-down" />
        </svg>
    </a>
</div>
