.tabs {
    $root: &;
    border-bottom: 1px solid $color--border-light;

    &__container {
        @include gutter(0.5, 0, 0, 0);
        @include aligner;
        display: flex;
    }

    &__label {
        @include gutter(0, 0.5, 0, 0);
    }

    &__content {
        display: none;

        &--current {
            display: inherit;
        }

    }

}
