<div class="tabs js-tabs {% if modifier %}tabs--{{ modifier }}{% endif %}">
    <div class="tabs__container">
        {% for tab in items %}
            {% include "@atoms/tab-item/tab-item.twig" with tab %}
        {% endfor %}
    </div>
</div>
