.footer-link-item {
    @include font-size(xs);
    margin-right: 0;
    float: left;
    width: 50%;
    text-align: left;

    &__link {
        color: $color--primary;
        text-decoration: none;
        font-weight: 500;

        &:hover {
            color: $color--white;
        }

        .homepage-v1 & {
            color: $color--secondary;

            &:hover {
                color: $color--white;
            }
            
        }

    }



}
