<div class="footer-links">
    <div class="footer-links__container">
        <div class="footer-link-item">
            <a class="footer-link-item__link" href="#">Contact</a>
        </div>
        <div class="footer-link-item">
            <a class="footer-link-item__link" href="#">Careers</a>
        </div>
        <div class="footer-link-item">
            <a class="footer-link-item__link" href="#">Directions</a>
        </div>
        <div class="footer-link-item">
            <a class="footer-link-item__link" href="#">Privacy Notice</a>
        </div>
        <div class="footer-link-item">
            <a class="footer-link-item__link" href="#">Media</a>
        </div>
    </div>
</div> <!-- /footer-links -->
