<div class="logo">

    <svg class="logo__item" width="150" height="44">
        <use xlink:href="#logo" />
    </svg>
 
    <svg class="logo__item--mini" width="46" height="26">
        <use xlink:href="#logo-mini" />
    </svg>

</div>
