/*------------------------------------*\
    $Logo
\*------------------------------------*/

.logo {
    $root: &;
    display: block;

    &__item {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        // sass-lint:disable indentation
        transition: opacity $default-transition-speed ease 0s,
                    height $default-transition-speed ease 0s,
                    width $default-transition-speed ease 0s;
        // sass-lint:enddisable

        &:hover {
            opacity: 0.8;
        }

        &--mini {
            display: none;
        }

    }

    .headroom--not-top & {

        #{$root}__item {
            display: none;
        }

        #{$root}__item--mini {
            display: block;
        }

    }

}
