<div class="logo">

    <svg class="logo__item" width="129" height="26">
        <use xlink:href="#logo" />
    </svg>

    <svg class="logo__item logo__item--mini" width="46" height="16">
        <use xlink:href="#logo-mini" />
    </svg>

</div>
