/*------------------------------------*\
    $Logo
\*------------------------------------*/

.logo {
    $root: &;
    position: relative;
    display: block;
    width: 184px;
    height: 54px;
    padding-top: 8px;
    border-top: 3px solid $color--secondary;
    // sass-lint:disable indentation
    transition: height $default-transition-speed ease 0s,
                width $default-transition-speed ease 0s;
    // sass-lint:enddisable

    &__item {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        // sass-lint:disable indentation
        transition: opacity 150ms ease 0.2s;
        // sass-lint:enddisable

        &:hover {
            opacity: 0.8;
        }

        &--mini {
            position: absolute;
            top: 8px;
            opacity: 0;
            width: 46px;
            height: 16px;
        }

    }

    .headroom--not-top & {
        width: 46px;
        height: 28px;

        #{$root}__item {
            opacity: 0;
        }

        #{$root}__item--mini {
            display: block;
            opacity: 1;
        }

    }

    .template__multimedia &,
    .template__search & {
        border-color: $color--white;

        #{$root}__item {
            fill: $color--white;
        }

    }

}
