<div class="browse-toggle js-browse-toggle">
    <svg class="browse-toggle__icon-off" width="24" height="24">
        <use xlink:href="#more" />
    </svg>
    <svg class="browse-toggle__icon-on" width="24" height="24">
        <use xlink:href="#less" />
    </svg>
    <div class="browse-toggle__label">Browse</div>
</div>
