.browse-toggle {
    @include gutter(0.15, 0.4, 0.15, 0.2);
    $root: &;
    position: fixed;
    z-index: 10;
    right: -32px;
    top: 50%;
    display: flex;
    align-items: center;
    will-change: transform;
    background-color: $color--white;
    transform: rotate(-90deg);
    cursor: pointer;
    transition: background-color $default-transition-speed ease 0s,
                transform $default-transition-speed ease 0s;

    &--active {
        background-color: $color--primary;
        transform: translate3d(0, (calc(30% - 32px)), 0), rotate(-90deg);

        #{$root}__icon-off {
            display: none;
        }

        #{$root}__icon-on {
            display: block;
        }

    }

    &:hover {
        background-color: $color--primary;

        #{$root}__icon-off {
            fill: $color--white;
        }

    }

    &__icon-off {
        display: block;
        fill: $color--primary;
        transition: fill $default-transition-speed ease 0s;
    }

    &__icon-on {
        display: none;
        fill: $color--white;
        transition: fill $default-transition-speed ease 0s;
    }

    &__label {
        @include gutter(0, 0, 0, 0.25);
        @include font-size(s);
        color: $color--secondary;
        font-weight: 500;
    }

}
