.social-link-item {
    $root: &;

    &__link {
        display: block;
        opacity: 0.6;

        &:hover {
            opacity: 1;

            #{$root}__icon {
                fill: $color--primary;

                .homepage-v1 & {
                    fill: $color--white;
                }
                
            }

        }

    }
    &__icon {
        width: 21px;
        height: 21px;
        fill: $color--white;
        transition: fill $default-transition-speed ease 0s;

        .homepage-v1 & {
            fill: $color--secondary;
        }

    }

    &__label {
        display: none;
    }

    .app__footer & {
        @include gutter(0, 0, 0, 0.25);
    }

    .share-dots & {

        #{$root}__icon {
            fill: $color--primary;
            width: 21px;
            height: 21px;
        }

    }

}
