.latest {
    @include aligner;
    $root: &;

    &__container {
        @include gutter(1, 0, 1.75, 0);
    }

    &__header {
        @include gutter(0, 0, 1, 0);
        display: flex;
        color: $color--off-black;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__heading {
        @include font-size(l);
        @include gutter(0.25, 0, 0, 0);
        display: inline-block;
        color: $color--black;
        margin-bottom: 0;
        font-weight: 400;
    }

    &__action {
        @include font-size(m);

        a {
            color: $color--black;
            font-weight: 400;
            transition: color $default-transition-speed ease 0s;

            &:hover {
                color: $color--primary;
            }

        }

    }

    &__content {
        position: relative;
        z-index: 2; // ensure content sits in front of shard
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: ($grid);
        grid-row-gap: ($grid * 1.5);

        @include media-query(mobile) {
            grid-template-columns: 0.5fr 0.5fr;
        }

        @include media-query(laptop) {
            grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
        }

    }

    .template__landing-page & {

        #{$root}__heading {
            @include gutter(0.1, 0, 0, 0);
            @include font-size(l);
            font-weight: 500;
            display: inline-block;
            border-top: 3px solid $color--secondary;
            margin-bottom: 0;
        }

    }

}
