<div class="latest">

    <div class="latest__container">

        <div class="latest__header">
            <h2 class="latest__heading">{{ title }}</h2>
            {% if actions %}<div class="latest__action">{{ actions|raw }}</div>{% endif %}
        </div>

        <div class="latest__content">
            {% for item in items %}
                {% include "@molecules/listing-item/listing-item.twig" with item %}
            {% endfor %}
        </div>

    </div>

</div> <!-- /latest -->
