.page-heading {
    @include aligner;
    @include gutter(0, 1, 0, 1);
    $root: &;
    display: flex;

    @include media-query(desktop) {
        @include gutter(0, 0, 0, 0);
    }

    &__container {
        @include gutter(1.5, 0, 0, 0);
        @include aligner;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-basis: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    &__heading {
        @include gutter(0, 0, 0.5, 0);
        @include font-size(xl);
        line-height: 1.2;
        font-weight: 300;
        margin-bottom: 0;
        max-width: $max-width--s;

        @include media-query(tablet) {
            @include rem-font-size(42px);
        }

        em {
            color: $color--primary;
            font-weight: 500;
            font-style: normal;
        }

    }

    &__sub-heading {
        @include gutter(0, 0, 0.75, 0);
        max-width: ($grid * 30);
    }

    &__sub-heading-text {
        @include font-size(l);
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 0;

        @include media-query(tablet) {
            @include rem-font-size(38px);
        }

    }

    &__meta-container {
        display: flex;
    }

    &__downloads {
        @include gutter(0, 0, 1, 0);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media-query(mobile) {
            flex-direction: row;
            align-items: center;
        }

    }

    &__download-item {
        @include gutter(0, 0, 0.5, 0);
        width: 100%;

        @include media-query(mobile) {
            @include gutter(0, 0.5, 0, 0);
            width: auto;
        }

    }

    .template__multimedia & {

        #{$root}__heading {
            color: $color--white;
        }

    }

}
