<div class="footer">
    <div class="footer__container">
        <svg class="logo__item--mini" width="46" height="26">
            <use xlink:href="#logo-mini" />
        </svg>
        <div class="footer__icons">
            {% include "@molecules/social-links/social-links.twig" with share only %}
            {% include "@molecules/footer-links/footer-links.twig" %}
        </div>
        {% if footerCopyright %}
        <div class="footer-link-item">
            &copy; {{ footerCopyright }}
        </div>
        {% endif %}
    </div>
</div>
