.footer {
    @include font-size(xs);
    background-color: $color--black;
    color: $color--white;

    &__container {
        @include gutter(1, 0.5, 0.75, 0.5);
        @include aligner;
        display: grid;
        grid-gap: ($grid);
        grid-template-columns: 50% 50%;
    }

    &__primary {
        display: flex;
        flex-direction: column;
    }

    &__links {
        display: grid;
        grid-gap: ($grid);
        grid-template-columns: 30% 70%;
    }

    &__logo {
        fill: $color--white;
    }

    &__icons {
        @include gutter(0, 0, 0.5, 0);
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        @include media-query(laptop) {
            flex-direction: row;
        }

    }

}
